# Ignore Node.js related files
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build artifacts
dist/
build/

# Ignore environment variables
.env

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore package-lock files
package-lock.json
yarn.lock

# Ignore Netlify cache and build files
.netlify/
.cache/

# Ignore any sensitive or confidential files
config.js # Example: configuration file containing sensitive information

# Ignore backup files
*.bak


# Ignore log files and databases
*.log
*.sqlite

# Ignore compiled binaries
*.class
*.jar

# Ignore Mac-specific files
.DS_Store

# Ignore system files
Thumbs.db

# ignore ALL files in ANY directory named temp
temp/